<!-- comentário em html -->
<!--tipo do documento-->
<!DOCTYPE html>
<!--idioma-->
<html lang="pt-br">
<!--inicio do cabeçalho-->
<head>
   <!--caracteres - café-->
    <meta charset="UTF-8">
    <!--rodar o celular-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--título-->
    <title>Login - ProjectScore</title>
    <!--comentário html-->
    <!--insira o bootstrap aqui!-->

    <link rel="stylesheet"  href="{{url_for('static',filename='css/bootstrap.css')}}">
</head>
<body>  
    
   <div class="container">
      <div class="row">
           <div class="col">
               <nav  class="navbar" style="background-color: #e3f2fd;">
                   Athenas
               </nav>
           </div>
      </div>
      <div class="row">
          <div class="col-3">
             <form>
                email <input type="email" class="form-control" name="email">
                senha <input type="password" class="form-control" name="senha">
                <button type="button" class="btn btn-primary"> entrar </button>
            </form>
          </div>        
      </div>

      
   </div>      
     
</body>
</html>